<!-- Standard metadata -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta http-equiv="X-UA-Compatible" content="IE=edge">

{%- if site.title == "blank" -%}
  {%- capture site_title -%}{{ site.first_name }} {{ site.middle_name }} {{ site.last_name }}{%- endcapture -%}
{%- else -%}
  {%- capture site_title -%}{{ site.title }}{%- endcapture -%}
{%- endif -%}

<title>{% if page.title and page.url != "/" %}{{ page.title }} | {{ site_title }}{% else %}{{ site_title }}{% endif %}</title>
<meta name="author" content="{{ site.first_name }} {{ site.middle_name }} {{ site.last_name }}">
<meta name="description" content="{% if page.description %}{{ page.description | strip_html | strip_newlines }}{% else %}{{ site.description | strip_html | strip_newlines }}{% endif %}">
{% if page.keywords or site.keywords -%}
<meta name="keywords" content="{% if page.keywords %}{{ page.keywords }}{% else %}{{ site.keywords }}{% endif %}">
{%- endif %}

{% if site.serve_og_meta -%}
<!-- OpenGraph -->
<meta property="og:site_name" content="{{ site_title }}">
<meta property="og:type" content="website">
<meta property="og:title" content="{% if page.title and page.url != '/' %}{{ page.title }} | {{ site_title }}{% else %}{{ site_title }}{% endif %}">
<meta property="og:url" content="{{ page.url | absolute_url }}">
<meta property="og:description" content="{% if page.description %}{{ page.description | strip_html | strip_newlines }}{% else %}{{ site.description | strip_html | strip_newlines }}{% endif %}">
<meta property="og:locale" content="{{ site.lang }}">
<meta name="twitter:card" content="summary">
<meta name="twitter:title" content="{% if page.title and page.url != '/' %}{{ page.title }} | {{ site_title }}{% else %}{{ site_title }}{% endif %}">
<meta name="twitter:description" content="{% if page.description %}{{ page.description | strip_html | strip_newlines }}{% else %}{{ site.description | strip_html | strip_newlines }}{% endif %}">
{%- endif %}

{% if site.serve_schema_org -%}
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "Person",
  "name": "{{ site.first_name }} {{ site.middle_name }} {{ site.last_name }}",
  "url": "{{ site.url }}{{ site.baseurl }}",
  "email": "mailto:{{ site.email }}",
  "jobTitle": "Postdoctoral Researcher",
  "affiliation": {
    "@type": "Organization",
    "name": "Department of Environmental Science and Ecological Engineering, Korea University"
  },
  "sameAs": [
    "https://scholar.google.com/citations?user={{ site.scholar_userid }}",
    "https://www.linkedin.com/in/{{ site.linkedin_username }}",
    "https://www.researchgate.net/profile/{{ site.research_gate_profile }}"
  ]
}
</script>
{%- endif %}
